%turbo-frame#main_content
  .container.col-xxl-8.px-4.py-4
    .row.flex-lg-row-reverse.align-items-center.g-4.py-4
      .col-lg-6(data-aos = "zoom-in" data-aos-duration="1500" data-aos-once="true")
        = image_tag "presentation-image.svg", class: " d-block mx-lg-auto img-fluid"
      .col-lg-6.red-background(data-aos = "zoom-in" data-aos-duration="1500" data-aos-once="true")
        %h1.display-5.fw-bold.lh-1.mb-3 Choose the product you would like to check:
        %select.form-select.form-select-lg.mb-3
          %option(selected = "selected") Select the product:
          %option(value = "1") Shoes
          %option(value = "2") Computer
          %option(value = "3") Video-game
          %option(value = "4") Mobile Phone
          %option(value = "5") Watch
        %button.btn.btn-primary(type = "submit") Next step
