%turbo-frame#main_content
  .container.col-xxl-8.px-4.py-4
    .row.flex-lg-row-reverse.align-items-center.g-4.py-4
      .col-lg-6(data-aos = "zoom-in" data-aos-duration="1500" data-aos-once="true")
        = image_tag "presentation-image.svg", class: " d-block mx-lg-auto img-fluid"
      .col-lg-6.red-background(data-aos = "zoom-in" data-aos-duration="1500" data-aos-once="true")
        %h1.display-5.fw-bold.lh-1.mb-3 Choose the product you would like to check:
        %form
          .mb-3
            %label.form-label Product:
            %input#exampleInputEmail1.form-control(type = "email")
          %button.btn.btn-primary{:type => "submit"} Submit
