.container.col-xxl-8.px-4.py-4
  .row.flex-lg-row-reverse.align-items-center.g-4.py-4
    .col-lg-6(data-aos = "fade-up-left" data-aos-duration="1500" data-aos-once="true")
      = image_tag "data-image.svg", class: " d-block mx-lg-auto img-fluid"
    .col-lg-6(data-aos = "fade-up-right" data-aos-duration="1500" data-aos-once="true")
      %h1.display-5.fw-bold.lh-1.mb-3 Decision Mate
      %p.lead A very smart algorithm that can predict what kind of product a customer could buy based on their caracteristics.
      .d-grid.gap-2.d-md-flex.justify-content-md-start
        = link_to "Try it now", new_user_decision_path, class: "btn btn-primary btn-lg px-4 me-md-2"
