.container.col-xxl-8.px-4.py-4
  .row.flex-lg-row-reverse.align-items-center.g-4.py-4
    .col-lg-6
      = image_tag "presentation-image.svg", class: " d-block mx-lg-auto img-fluid"
    .col-lg-6
      %p.display-5.fw-bold.lh-1.mb-3 Choose the customer attributes to check the results:

      = render "form"

