.container.col-xxl-8.px-4.py-4
  .row.flex-lg-row-reverse.align-items-center.g-4.py-4
    .col-lg-6
      %h1.display-5.fw-bold.lh-1.mb-3 About this project
      %br
      %p.lead The goal of this project is to apply a Decision Tree and train it with a dataset of customers, in order to predict what kind of product certain customer would buy.
      .d-grid.gap-2.d-md-flex.justify-content-md-start
    .col-lg-6
      = image_tag "binary-image.svg", class: " d-block mx-lg-auto img-fluid"

