@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  font-family: "Rubik", sans-serif !important;
  color: white !important;
}

html {
  min-height: 100vh;
}

body {
  padding-top: 0.7rem;
  background-image: url("header-image.svg"), url("footer-image.svg");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-color: black;
}

nav,
.navbar {
  font-size: 22px;
  background-color: transparent !important;
}

.nav-item {
  margin: 0.7rem;
}
