@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap");

* {
  font-family: "Rubik", sans-serif !important;
  color: white !important;
}

html {
  min-height: 100vh;
}

body {
  padding-top: 0.7rem;
  background-image: url("header-image.svg"), url("footer-image.svg");
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-color: black;
}

nav,
.navbar {
  font-size: 22px;
  background-color: transparent !important;
}

.nav-item {
  margin: 0.7rem;
}

.btn-primary {
  background-color: #ff0050;
  border-color: #ff5a5f;
}

.btn-primary:hover {
  background-color: #ff0050;
  border-color: #6d0d11;
}

.btn-check:focus + .btn-primary, .btn-primary:focus {
  color: #fff;
  background-color: #ff0050;
  border-color: #6d0d11;
  box-shadow: 0 0 0 0.25rem rgba(253, 49, 49, 0.5);
}
.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #ff0050;
  border-color: #6d0d11;
}
.btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.25rem rgba(253, 49, 49, 0.5);
}
.btn-primary:disabled, .btn-primary.disabled {
  color: #fff;
  background-color: #ff0050;
  border-color: #6d0d11;
}